@model IEnumerable<BgAuto.Models.CarAllViewModel>

@{
    ViewData["Title"] = "All";
}
        <h1>Cars Collection</h1>
        @foreach (var item in Model)
        {
            <div class="container mt-5 mb-5">
                <div class="d-flex justify-content-center row">
                    <div class="col-md-10">
                        <div class="row p-2 bg-white border rounded">
                            <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="@item.Image"></div>
                            <div class="col-md-6 mt-1">
                                <h5>
                                    <th>
                                        @Html.DisplayFor(modelItem => item.Brand)
                                        @Html.DisplayFor(modelItem => item.Model)
                                    </th>
                                </h5>
                                <div class="d-flex flex-row">
                                    <div class="mt-1 mb-1 spec-1"><span>Engine - @Html.DisplayFor(modelItem => item.Engine)</span></div>
                                </div>
                                <div class="mt-1 mb-1 spec-1"><span>Year - @Html.DisplayFor(modelItem => item.Year)</span></div>
                                <div class="mt-1 mb-1 spec-1"><span>Unique design</span><span class="dot"></span><span>For men</span><span class="dot"></span><span>Casual<br></span></div>
                                <p class="text-justify text-truncate para mb-0">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.<br><br></p>
                            </div>
                            <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                                <div class="d-flex flex-row align-items-center">
                                    <h4 class="mr-1">$@Html.DisplayFor(modelItem => item.Price)/day</h4>
                                </div>
                                <h6 class="text-success">Free shipping</h6>
                                @if (User.IsInRole("Administrator"))
                                {
                                    <div class="modal-footer justify-content-center">
                                        <form asp-action="Edit">
                                            <input type="hidden" asp-for="@item.Id" />
                                            <input type="submit" value="Edit" class="btn btn-success" />
                                        </form>
                                        
                                        <form asp-action="Details" asp-route-id="@item.Id">
                                            <input type="submit" value="Details" class="btn btn-info" />
                                        </form>
                                        <a href="#myModal" class="trigger-btn" data-toggle="modal"><input type="submit" value="Delete" class="btn btn-danger" /> </a>
                                    </div>
                                }
                                    <div id="myModal" class="modal fade">
                                        <div class="modal-dialog modal-confirm">
                                            <div class="modal-content">
                                                <div class="modal-header flex-column">
                                                    <div class="icon-box">
                                                    </div>
                                                    <h4 class="modal-title w-100">Are you sure?</h4>
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Do you really want to delete these records? This process cannot be undone.</p>
                                                </div>
                                                <div class="modal-footer justify-content-center">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                    <form asp-action="Delete" asp-route-id="@item.Id">
                                                        <input type="submit" value="Delete" class="btn btn-danger" />
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    @*<table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Image)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CarNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Brand)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Model)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Year)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Engine)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Color)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Country)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Extras)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <img src="@item.Image" width="150px" height="110px" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CarNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Brand)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Model)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Year)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Engine)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Color)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Country)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Extras)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>*@
