@model BgAuto.Models.CarDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details about the car</h1>
<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-4">
                <div class="card text-black">                  
                    <img src="@Model.Image"
                         class="card-img-top"
                         alt="Apple Computer" />
                    <div class="card-body">
                        <div class="text-center">
                            <h5 class="card-title">Believing is selling</h5>
                            <p class="text-muted mb-4">Car details</p>
                        </div>

                        <div>
                            <div class="d-flex justify-content-between">
                                <span>@Html.DisplayNameFor(model => model.CarNumber)</span><span>@Html.DisplayFor(model => model.CarNumber)</span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span>@Html.DisplayNameFor(model => model.Brand)</span><span>@Html.DisplayFor(model => model.Brand)</span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span>@Html.DisplayNameFor(model => model.Model)</span><span>@Html.DisplayFor(model => model.Model)</span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span>@Html.DisplayNameFor(model => model.Year)</span><span>@Html.DisplayFor(model => model.Year)</span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span>@Html.DisplayNameFor(model => model.Engine)</span><span>@Html.DisplayFor(model => model.Engine)</span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span>@Html.DisplayNameFor(model => model.Color)</span><span>@Html.DisplayFor(model => model.Color)</span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span>@Html.DisplayNameFor(model => model.Country)</span><span>@Html.DisplayFor(model => model.Country)</span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span>@Html.DisplayNameFor(model => model.Extras)</span><span>@Html.DisplayFor(model => model.Extras)</span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span>@Html.DisplayNameFor(model => model.Price)</span><span>$@Html.DisplayFor(model => model.Price)</span>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between total font-weight-bold mt-4">
                            <span>Test Drive</span><span>
                                @await Html.PartialAsync("_TestDrivePartialView", new TestDriveCreateBindingModel
                           {
                               CarId = Model.Id,
                           })
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <a asp-action="All">Back to List</a>
        </div>
    </div>
</section>
